<ion-header translucent>
  <ion-toolbar>
    <ion-title>{{ 'secrets.select.title' | translate }}</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()"><ion-icon name="close-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="selectAll()">
        <ion-icon name="checkmark-done-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="isSomeSelected" (click)="removeSelected()">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list lines="full">
    <ion-item *ngFor="let i of items">
      <ion-icon slot="start" [name]="getIcon(i.type)"></ion-icon>
      <ion-label>{{ i.name }}</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="i.content.selected"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
