<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> {{ 'settings.title' | translate }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label>{{ 'settings.language' | translate }}</ion-label>
      <ion-select
        [(ngModel)]="settings.language"
        [value]="settings.language"
        (ionChange)="changeLanguage()"
      >
        <ion-select-option value="en">English</ion-select-option>
        <ion-select-option value="pt">Português</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item [routerLink]="['/cloud-sync/setup']" detail>
      <ion-label>{{ 'cloud-sync.title' | translate }}</ion-label>
    </ion-item>
    <ion-item *ngIf="isBiometricAvailable">
      <ion-label>{{ 'settings.biometric.label' | translate }}</ion-label>
      <ion-toggle
        [(ngModel)]="settings.biometric"
        (click)="onToggleClick()"
        (ionChange)="toggleBiometric()">
      </ion-toggle>
    </ion-item>
    <ion-item *ngIf="isAutofillAvailable">
      <ion-label>{{ 'settings.autofill.label' | translate }}</ion-label>
      <ion-toggle
        [(ngModel)]="settings.autofill"
        (click)="onToggleClick()"
        (ionChange)="toggleAutofill()">
      </ion-toggle>
    </ion-item>
  </ion-list>
  <p class="ion-padding-horizontal">
    <ion-button
      id="wipe-btn"
      type="button"
      color="danger"
      expand="block"
      (click)="wipe()"
      >{{ 'settings.wipe.btn' | translate }}</ion-button
    >
  </p>
</ion-content>
