<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ 'secrets.list.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngIf="loading" lines="full">
    <ion-item *ngFor="let s of [1,2,3,4,5,6,7,8,9,10]">
      <ion-thumbnail slot="start"
        ><ion-skeleton-text></ion-skeleton-text
      ></ion-thumbnail>
      <ion-label><ion-skeleton-text animated></ion-skeleton-text></ion-label>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="!loading" lines="full">
    <ion-item
      *ngFor="let s of secrets | async"
      [routerLink]="['/tabs/secrets', s.id]"
      detail
    >
      <ion-icon slot="start" [name]="getIcon(s.type)"></ion-icon>
      <ion-label>{{s.name}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
