<ion-fab horizontal="center" vertical="bottom" slot="fixed">
  <ion-fab-button color="secondary">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button (click)="onClick('web')" color="light" title="{{ 'secrets.add.web' | translate }}">
      <ion-icon name="globe-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="onClick('mail')" color="light" title="{{ 'secrets.add.mail' | translate }}">
      <ion-icon name="mail-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="onClick('login')" color="light" title="{{ 'secrets.add.login' | translate }}">
      <ion-icon name="key-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="onClick('card')" color="light" title="{{ 'secrets.add.card' | translate }}">
      <ion-icon name="card-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="onClick('bank')" color="light" title="{{ 'secrets.add.bank' | translate }}">
      <ion-icon name="cash-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="onClick('identity')" color="light" title="{{ 'secrets.add.identity' | translate }}">
      <ion-icon name="id-card-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="onClick('pin')" color="light" title="{{ 'secrets.add.pin' | translate }}">
      <ion-icon name="key"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>
