<ion-content>
  <ion-slides #slides pager="true" [options]="opts">
    <ion-slide>
      <div class="slide">
        <h2>Wellcome to e-Secrets</h2>
        <p>
          The most simple and easy way to keep all your passwords and secrets
          safe.
        </p>
        <ion-button fill="clear" (click)="slides.slideNext()"
          >Tell me more <ion-icon slot="end" name="arrow-forward"></ion-icon
        ></ion-button>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide">
        <h2>The problem</h2>
        <p>
          Are you strogle managing to keep many passwords and login credentials
          from different web sites, email, social networks or any other
          electronic accounts?<br />
          And because of this you keep the same password for all of them?<br />
          This is very unsafe and you may be at risk of being hacked.<br />
          <b>e-Secrets</b>
          take care of this for you with only one password.
        </p>
        <ion-button fill="clear" (click)="slides.slideNext()"
          >The solution <ion-icon slot="end" name="arrow-forward"></ion-icon
        ></ion-button>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide">
        <h2>What is e-Secrets?</h2>
        <p>
          <b>e-Secrets</b> is a secrets manger that aims to keep all your
          electronic private information, in a simple and easy way.
        </p>
        <ion-button fill="clear" (click)="slides.slideNext()"
          >How it works? <ion-icon slot="end" name="arrow-forward"></ion-icon
        ></ion-button>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide">
        <h2>How it works?</h2>
        <p class="text small">
          All your data is stored locally on your device in an electronic vault
          that is sealed using the most advanced and updated encryption
          technologies (RSA and AES256). This vault can only be unsealed by your
          master password, or using the biomettric verification methods provided
          by your device.
        </p>
        <ion-button fill="clear" (click)="slides.slideNext()">
          Features <ion-icon slot="end" name="arrow-forward"></ion-icon>
        </ion-button>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide">
        <h2>Here are some features</h2>
        <ul class="text small">
          <li>No account registration</li>
          <li>Data stored locally and sealed with strong cryptography</li>
          <li>Backup your data on Google Drive or Dropbox</li>
          <li>Restore your data at any time from any device</li>
          <li>
            Keep any type of information, from a single password to many other
            private information like, email, web account, social network, bank
            account, cred card and many others
          </li>
        </ul>
        <ion-button fill="clear" (click)="start()">
          Get started <ion-icon slot="end" name="arrow-forward"></ion-icon>
        </ion-button>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
