<ion-content>
  <ion-slides #slides pager="true" [options]="opts">
    <ion-slide>
      <div class="slide">
        <h2>{{ 'wellcome.slide1.title' | translate }}</h2>
        <p>{{ 'wellcome.slide1.message' | translate }}</p>
        <ion-button color="secondary" fill="clear" (click)="slides.slideNext()">
          {{ 'wellcome.slide1.next-btn' | translate }} <ion-icon slot="end" name="arrow-forward"></ion-icon>
        </ion-button>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide">
        <h2>{{ 'wellcome.slide2.title' | translate }}</h2>
        <p>
          {{ 'wellcome.slide2.message1' | translate }}<br />
          {{ 'wellcome.slide2.message2' | translate }}<br />
          {{ 'wellcome.slide2.message3' | translate }}<br />
          <b>e-Secrets</b>
          {{ 'wellcome.slide2.message4' | translate }}
        </p>
        <ion-button color="secondary" fill="clear" (click)="slides.slideNext()">
          {{ 'wellcome.slide2.next-btn' | translate }} <ion-icon slot="end" name="arrow-forward"></ion-icon>
        </ion-button>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide">
        <h2>{{ 'wellcome.slide3.title' | translate }}</h2>
        <p>
          <b>e-Secrets</b>
          {{ 'wellcome.slide3.message' | translate }}<br />
        </p>
        <ion-button color="secondary" fill="clear" (click)="slides.slideNext()">
          {{ 'wellcome.slide3.next-btn' | translate }} <ion-icon slot="end" name="arrow-forward"></ion-icon>
        </ion-button>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide">
        <h2>{{ 'wellcome.slide4.title' | translate }}</h2>
        <p class="text small">
          {{ 'wellcome.slide4.message1' | translate }}<br />
          {{ 'wellcome.slide4.message2' | translate }}
        </p>
        <ion-button color="secondary" fill="clear" (click)="slides.slideNext()">
          {{ 'wellcome.slide4.next-btn' | translate }} <ion-icon slot="end" name="arrow-forward"></ion-icon>
        </ion-button>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide">
        <h2>{{ 'wellcome.slide5.title' | translate }}</h2>
        <ul class="text small">
          <li>{{ 'wellcome.slide5.message1' | translate }}</li>
          <li>{{ 'wellcome.slide5.message2' | translate }}</li>
          <li>{{ 'wellcome.slide5.message3' | translate }}</li>
          <li>{{ 'wellcome.slide5.message4' | translate }}</li>
          <li>{{ 'wellcome.slide5.message5' | translate }}</li>
        </ul>
        <ion-button color="secondary" fill="clear" (click)="slides.slideNext()">
          {{ 'wellcome.slide5.next-btn' | translate }} <ion-icon slot="end" name="arrow-forward"></ion-icon>
        </ion-button>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide">
        <h2 class="ion-padding-horizontal">{{ 'wellcome.slide6.title' | translate }}</h2>
        <ion-button color="secondary" fill="clear" [routerLink]="['/password-creation']">
          {{ 'wellcome.slide6.newdb-btn' | translate }}<ion-icon slot="end" name="arrow-forward"></ion-icon>
        </ion-button>
        <ion-button color="secondary" fill="clear" [routerLink]="['/cloud-sync', 'restore']">
          {{ 'wellcome.slide6.restoredb-btn' | translate }}<ion-icon slot="end" name="arrow-forward"></ion-icon>
        </ion-button>
        <p class="text small">
          {{ 'wellcome.slide6.message1' | translate }}<b>
          {{ 'wellcome.slide6.message2' | translate }}</b>.<br />
          {{ 'wellcome.slide6.message3' | translate }}
        </p>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
