<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Add secret
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Add secret</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="form" (ngSubmit)="addSecret()">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input formControlName="name" autofocus="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">User</ion-label>
      <ion-input formControlName="user" autocomplete="email|useranme"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input formControlName="password" [type]="pwType" autocomplete="password"></ion-input>
      <ion-icon slot="end" name="eye" (click)="showSecret()"></ion-icon>
    </ion-item>
    <p class="ion-padding-start ion-padding-end">
      <ion-button type="submit" expand="block" [disabled]="form.invalid">Save</ion-button>
    </p>
  </form>
</ion-content>

