<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button *ngIf="isReadonly" id="remove-btn" (click)="remove()">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="isReadonly" id="copy-btn" (click)="copyAll()">
        <ion-icon slot="icon-only" name="copy-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> {{title}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <form [formGroup]="form" (ngSubmit)="save()">
    <ion-item *ngFor="let f of fields" (click)="isReadonly && copy(f)">
      <ion-label [position]="f.options.labelPosition">
        {{ 'secrets.form.field.' + f.name + '.name' | translate }}
      </ion-label>
      <div class="dyn-input-wrp" [ngSwitch]="f.type">
        <ion-input
          *ngSwitchCase="'input'"
          [id]="f.name"
          class="dyn-input"
          [placeholder]="'secrets.form.field.' + f.name + '.placeholder' | translate"
          [formControlName]="f.name"
          [type]="f.options.type"
          [autofocus]="f.options.autofocus"
          [autocomplete]="f.options.autocomplete"
          [readonly]="isReadonly"
          slot="end">
        </ion-input>
        <ion-datetime
          *ngSwitchCase="'date'"
          [id]="f.name"
          class="dyn-input"
          [placeholder]="'secrets.form.field.' + f.name + '.placeholder' | translate"
          [formControlName]="f.name"
          [displayFormat]="f.options.format"
          [min]="f.options.min"
          [max]="f.options.max"
          [readonly]="isReadonly"
        ></ion-datetime>
      </div>
      <ion-icon *ngIf="f.secret" slot="end" name="eye" (click)="showSecret(f)"></ion-icon>
    </ion-item>
    <p *ngIf="isReadonly" class="ion-padding-horizontal">
      <ion-button id="edit-btn" type="button" expand="block" (click)="edit()">
        {{ 'secrets.form.edit' | translate }}
      </ion-button>
    </p>
    <p *ngIf="!isReadonly" class="ion-padding-horizontal">
      <ion-button id="save-btn" type="submit" expand="block" [disabled]="form.invalid">
        {{ 'secrets.form.save' | translate }}
      </ion-button>
    </p>
  </form>
</ion-content>
