<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button id="remove-btn" (click)="remove()">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">

  <form [formGroup]="form" (ngSubmit)="save()">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input formControlName="name" autofocus="true" [readonly]="isReadonly"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">User</ion-label>
      <ion-input formControlName="user" autocomplete="email|useranme" [readonly]="isReadonly"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input formControlName="password" [type]="pwType" autocomplete="password" [readonly]="isReadonly"></ion-input>
      <ion-icon slot="end" name="eye" (click)="showSecret()"></ion-icon>
    </ion-item>
    <p *ngIf="isReadonly" class="ion-padding-start ion-padding-end">
      <ion-button type="button" expand="block" (click)="isReadonly = !isReadonly">Edit</ion-button>
    </p>
    <p *ngIf="!isReadonly" class="ion-padding-start ion-padding-end">
      <ion-button type="submit" expand="block" [disabled]="form.invalid">Save</ion-button>
    </p>
  </form>
</ion-content>