.dyn-input-wrp {
  flex: auto;

  .dyn-input {
    text-align: end;
  }
  ion-select.dyn-input {
    max-width: inherit;
  }
}

.date {
  font-size: 12px;
  color: var(--ion-color-step-600, #60646b);
}