<ion-header translucent>
  <ion-toolbar>
    <ion-title>{{ "settings.biometric.creds.title" | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">{{
        "settings.biometric.creds.cancel-btn" | translate
      }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="ion-padding-top">
    <div class="ion-text-center ion-padding-top">
      <p class="ion-padding-horizontal ion-padding-vertical">
        <ion-text
          ><h4>
            {{ "settings.biometric.creds.message" | translate }}
          </h4></ion-text
        >
      </p>
    </div>
    <ion-item>
      <ion-label position="floating">{{
        "settings.biometric.creds.input" | translate
      }}</ion-label>
      <ion-input
        [type]="pwType"
        name="password"
        [(ngModel)]="password"
        autocomplete="password"
        autofocus="true"
      ></ion-input>
      <ion-icon slot="end" name="eye" (click)="showSecret()"></ion-icon>
    </ion-item>
    <p class="ion-padding-horizontal">
      <ion-button
        type="button"
        expand="block"
        [disabled]="!password"
        (click)="save()"
        >{{ "settings.biometric.creds.create-btn" | translate }}</ion-button
      >
    </p>
  </div>
</ion-content>
