// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #bc3c25;
  --ion-color-primary-rgb: 188,60,37;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #a53521;
  --ion-color-primary-tint: #c3503b;

  --ion-color-secondary: #19273c;
  --ion-color-secondary-rgb: 25,39,60;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #162235;
  --ion-color-secondary-tint: #303d50;

  --ion-color-tertiary: #507fc1;
  --ion-color-tertiary-rgb: 80,127,193;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #4670aa;
  --ion-color-tertiary-tint: #628cc7;

  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45,211,111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255,196,9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235,68,90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,36,40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146,148,156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,245,248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

/*
 * Dark Colors
 * -------------------------------------------
 */

body.dark {
  --ion-color-primary: #bc3c25;
  --ion-color-primary-rgb: 188,60,37;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #a53521;
  --ion-color-primary-tint: #c3503b;

  --ion-color-secondary: #f1f1f1;
  --ion-color-secondary-rgb: 241,241,241;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #d4d4d4;
  --ion-color-secondary-tint: #f2f2f2;

  --ion-color-tertiary: #5c98ec;
  --ion-color-tertiary-rgb: 92,152,236;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #5186d0;
  --ion-color-tertiary-tint: #6ca2ee;

  --ion-color-success: #2fdf75;
  --ion-color-success-rgb: 47,223,117;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #29c467;
  --ion-color-success-tint: #44e283;

  --ion-color-warning: #ffd534;
  --ion-color-warning-rgb: 255,213,52;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0bb2e;
  --ion-color-warning-tint: #ffd948;

  --ion-color-danger: #ff4961;
  --ion-color-danger-rgb: 255,73,97;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #e04055;
  --ion-color-danger-tint: #ff5b71;

  --ion-color-dark: #f4f5f8;
  --ion-color-dark-rgb: 244,245,248;
  --ion-color-dark-contrast: #000000;
  --ion-color-dark-contrast-rgb: 0,0,0;
  --ion-color-dark-shade: #d7d8da;
  --ion-color-dark-tint: #f5f6f9;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152,154,162;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #222428;
  --ion-color-light-rgb: 34,36,40;
  --ion-color-light-contrast: #ffffff;
  --ion-color-light-contrast-rgb: 255,255,255;
  --ion-color-light-shade: #1e2023;
  --ion-color-light-tint: #383a3e;
}

/*
 * iOS Dark Theme
 * -------------------------------------------
 */

.ios body.dark {
  --ion-background-color: #19273c;
  --ion-background-color-rgb: 25,39,60;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255,255,255;

  --ion-color-step-50: #253246;
  --ion-color-step-100: #303d50;
  --ion-color-step-150: #3c4759;
  --ion-color-step-200: #475263;
  --ion-color-step-250: #535d6d;
  --ion-color-step-300: #5e6877;
  --ion-color-step-350: #6a7380;
  --ion-color-step-400: #757d8a;
  --ion-color-step-450: #818894;
  --ion-color-step-500: #8c939e;
  --ion-color-step-550: #989ea7;
  --ion-color-step-600: #a3a9b1;
  --ion-color-step-650: #afb3bb;
  --ion-color-step-700: #babec5;
  --ion-color-step-750: #c6c9ce;
  --ion-color-step-800: #d1d4d8;
  --ion-color-step-850: #dddfe2;
  --ion-color-step-900: #e8e9ec;
  --ion-color-step-950: #f4f4f5;

  --ion-item-background: #19273c;

  --ion-card-background: #1c1c1d;
}

.ios body.dark ion-modal {
  --ion-background-color: var(--ion-color-step-100);
  --ion-toolbar-background: var(--ion-color-step-150);
  --ion-toolbar-border-color: var(--ion-color-step-250);
  --ion-item-background: var(--ion-color-step-150);
}


/*
 * Material Design Dark Theme
 * -------------------------------------------
 */

.md body.dark {
  --ion-background-color: #19273c;
  --ion-background-color-rgb: 25,39,60;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255,255,255;

  --ion-border-color: #222222;

  --ion-color-step-50: #253246;
  --ion-color-step-100: #303d50;
  --ion-color-step-150: #3c4759;
  --ion-color-step-200: #475263;
  --ion-color-step-250: #535d6d;
  --ion-color-step-300: #5e6877;
  --ion-color-step-350: #6a7380;
  --ion-color-step-400: #757d8a;
  --ion-color-step-450: #818894;
  --ion-color-step-500: #8c939e;
  --ion-color-step-550: #989ea7;
  --ion-color-step-600: #a3a9b1;
  --ion-color-step-650: #afb3bb;
  --ion-color-step-700: #babec5;
  --ion-color-step-750: #c6c9ce;
  --ion-color-step-800: #d1d4d8;
  --ion-color-step-850: #dddfe2;
  --ion-color-step-900: #e8e9ec;
  --ion-color-step-950: #f4f4f5;

  --ion-item-background: #253246;

  --ion-toolbar-background: #1f1f1f;

  --ion-tab-bar-background: #1f1f1f;

  --ion-card-background: #253246;
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --ion-color-primary: #bc3c25;
    --ion-color-primary-rgb: 188,60,37;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #a53521;
    --ion-color-primary-tint: #c3503b;

    --ion-color-secondary: #f1f1f1;
    --ion-color-secondary-rgb: 241,241,241;
    --ion-color-secondary-contrast: #000000;
    --ion-color-secondary-contrast-rgb: 0,0,0;
    --ion-color-secondary-shade: #d4d4d4;
    --ion-color-secondary-tint: #f2f2f2;

    --ion-color-tertiary: #5c98ec;
    --ion-color-tertiary-rgb: 92,152,236;
    --ion-color-tertiary-contrast: #000000;
    --ion-color-tertiary-contrast-rgb: 0,0,0;
    --ion-color-tertiary-shade: #5186d0;
    --ion-color-tertiary-tint: #6ca2ee;

    --ion-color-success: #2fdf75;
    --ion-color-success-rgb: 47,223,117;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0,0,0;
    --ion-color-success-shade: #29c467;
    --ion-color-success-tint: #44e283;

    --ion-color-warning: #ffd534;
    --ion-color-warning-rgb: 255,213,52;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0,0,0;
    --ion-color-warning-shade: #e0bb2e;
    --ion-color-warning-tint: #ffd948;

    --ion-color-danger: #ff4961;
    --ion-color-danger-rgb: 255,73,97;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #e04055;
    --ion-color-danger-tint: #ff5b71;

    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244,245,248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0,0,0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152,154,162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0,0,0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-light: #222428;
    --ion-color-light-rgb: 34,36,40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255,255,255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-background-color: #19273c;
    --ion-background-color-rgb: 25,39,60;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-color-step-50: #253246;
    --ion-color-step-100: #303d50;
    --ion-color-step-150: #3c4759;
    --ion-color-step-200: #475263;
    --ion-color-step-250: #535d6d;
    --ion-color-step-300: #5e6877;
    --ion-color-step-350: #6a7380;
    --ion-color-step-400: #757d8a;
    --ion-color-step-450: #818894;
    --ion-color-step-500: #8c939e;
    --ion-color-step-550: #989ea7;
    --ion-color-step-600: #a3a9b1;
    --ion-color-step-650: #afb3bb;
    --ion-color-step-700: #babec5;
    --ion-color-step-750: #c6c9ce;
    --ion-color-step-800: #d1d4d8;
    --ion-color-step-850: #dddfe2;
    --ion-color-step-900: #e8e9ec;
    --ion-color-step-950: #f4f4f5;

    --ion-item-background: #19273c;

    --ion-card-background: #1c1c1d;
  }

  .ios ion-modal {
    --ion-background-color: var(--ion-color-step-100);
    --ion-toolbar-background: var(--ion-color-step-150);
    --ion-toolbar-border-color: var(--ion-color-step-250);
  }


  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: #19273c;
    --ion-background-color-rgb: 25,39,60;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-border-color: #222222;

    --ion-color-step-50: #253246;
    --ion-color-step-100: #303d50;
    --ion-color-step-150: #3c4759;
    --ion-color-step-200: #475263;
    --ion-color-step-250: #535d6d;
    --ion-color-step-300: #5e6877;
    --ion-color-step-350: #6a7380;
    --ion-color-step-400: #757d8a;
    --ion-color-step-450: #818894;
    --ion-color-step-500: #8c939e;
    --ion-color-step-550: #989ea7;
    --ion-color-step-600: #a3a9b1;
    --ion-color-step-650: #afb3bb;
    --ion-color-step-700: #babec5;
    --ion-color-step-750: #c6c9ce;
    --ion-color-step-800: #d1d4d8;
    --ion-color-step-850: #dddfe2;
    --ion-color-step-900: #e8e9ec;
    --ion-color-step-950: #f4f4f5;

    --ion-item-background: #253246;

    --ion-toolbar-background: #1f1f1f;

    --ion-tab-bar-background: #1f1f1f;

    --ion-card-background: #253246;
  }
}
