<ion-header translucent>
  <ion-toolbar>
    <ion-title>{{ 'secrets.import.title' | translate }}</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()"><ion-icon name="close-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="import()">{{ 'secrets.import.import-btn' | translate }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list lines="full">
    <ion-item *ngFor="let s of secrets">
      <ion-icon slot="start" name="globe-outline"></ion-icon>
      <ion-label>{{ s.name }}</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="s.imported"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>