<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Add secret
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Add secret</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label position="floating">Name</ion-label>
    <ion-input autofocus="true"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">User</ion-label>
    <ion-input autocomplete="email|useranme"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" autocomplete="password"></ion-input>
  </ion-item>
  <p class="ion-padding-start ion-padding-end">
    <ion-button expand="block">Save</ion-button>
  </p>
</ion-content>
