<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button *ngIf="isReadonly" id="remove-btn" (click)="remove()">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="isReadonly" id="copy-btn" (click)="copyAll()">
        <ion-icon slot="icon-only" name="copy-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> {{title}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <form [formGroup]="form" (ngSubmit)="save()">
    <ion-list>
      <ion-item *ngFor="let f of fields">
        <ion-label [position]="f.options.labelPosition">
          {{ 'secrets.form.field.' + f.name + '.name' | translate }}
        </ion-label>
        <div class="dyn-input-wrp" [ngSwitch]="f.type" (click)="isReadonly && copy(f)">
          <ion-input *ngSwitchCase="'input'"
                    [id]="f.name"
                    class="dyn-input"
                    [placeholder]="'secrets.form.field.' + f.name + '.placeholder' | translate"
                    [formControlName]="f.name"
                    [type]="f.options.type"
                    [autofocus]="f.options.autofocus"
                    [autocomplete]="f.options.autocomplete"
                    [readonly]="isReadonly"
                    slot="end">
          </ion-input>
          <ion-input *ngSwitchCase="'date'"
                     [id]="f.name"
                     class="dyn-input"
                     type="date"
                     [placeholder]="'secrets.form.field.' + f.name + '.placeholder' | translate"
                     [formControlName]="f.name"
                     [readonly]="isReadonly"
                     slot="end">
          </ion-input>
          <ion-textarea *ngSwitchCase="'textarea'"
                        [id]="f.name"
                        class="dyn-input"
                        [placeholder]="'secrets.form.field.' + f.name + '.placeholder' | translate"
                        [formControlName]="f.name"
                        [rows]="f.options.rows"
                        [autofocus]="f.options.autofocus"
                        [readonly]="isReadonly"
                        slot="end">
          </ion-textarea>
          <ion-select *ngSwitchCase="'select'"
                      [id]="f.name"
                      class="dyn-input"
                      [formControlName]="f.name">
            <ion-select-option *ngFor="let o of f.options.selectopts" [value]="o">
              {{ 'secrets.form.field.' + f.name + '.' + o | translate }}
            </ion-select-option>
          </ion-select>
        </div>
        <ion-icon color="secondary" *ngIf="f.secret" slot="end" name="eye" (click)="showSecret(f)"></ion-icon>
      </ion-item>
    </ion-list>
    <p *ngIf="isReadonly" class="ion-text-center date">
      {{ 'secrets.form.modified' | translate }}: {{ secret?.modified | date:'short' }}
    </p>
  </form>
</ion-content>
