<ion-header>
  <ion-toolbar>
    <ion-title>cloud-sync</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="skip()"
        >{{ 'cloud-sync.skip-btn' | translate }}</ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-radio-group [(ngModel)]="provider" (ionChange)="select()">
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-img src="assets/img/gdrive.png"></ion-img>
      </ion-thumbnail>
      <ion-label>Google Drive</ion-label>
      <ion-radio slot="end" value="google-drive"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-img src="assets/img/ban.png"></ion-img>
      </ion-thumbnail>
      <ion-label>None</ion-label>
      <ion-radio slot="end" value="none"></ion-radio>
    </ion-item>
  </ion-radio-group>
</ion-content>
