<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'pwd-creation.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding-top">
    <div class="ion-text-center ion-padding-top">
      <h1>
        <ion-icon color="secondary" name="lock-closed" class="ion-padding-vertical"></ion-icon>
      </h1>
      <p class="ion-padding-horizontal ion-padding-vertical">
        <ion-text><h4>{{ 'pwd-creation.message' | translate }}</h4></ion-text>
      </p>
    </div>
    <form id="form" (ngSubmit)="createPwd()">
      <ion-item>
        <ion-label>{{ 'pwd-creation.pwd' | translate }}</ion-label>
        <ion-input id="pwd-input"
                   [type]="pwType"
                   name="password"
                   [(ngModel)]="password"
                   autocomplete="password"
                   autofocus="true">
          </ion-input>
        <ion-icon color="secondary" slot="end" name="eye" (click)="showSecret()"></ion-icon>
      </ion-item>
      <p class="ion-padding-horizontal">
        <ion-button type="submit" expand="block" [disabled]="!password">
          {{ 'pwd-creation.btn' | translate }}
        </ion-button>
      </p>
    </form>
  </div>
</ion-content>
