<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Choose the type
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list lines="full">
    <ion-nav-link *ngFor="let t of types" router-direction="forward" [component]="t.page" [componentProps]="{id: 'new'}">
      <ion-item detail>
        <ion-icon slot="start" name="key"></ion-icon>
        <ion-label>{{t.name}}</ion-label>
      </ion-item>
    </ion-nav-link>
  </ion-list>
</ion-content>
